@charset "utf-8";
/*全局默认样式*/
html,body{margin: 0;padding: 0;font-size: 14px;font-family: "微软雅黑",arial;overflow-x: hidden; background: #f5f5f5;color: #373c4b;}
a{text-decoration: none;color: #333;}

a:visited{text-decoration: none;}
a:active{text-decoration: none; color: #ee4d4d;}
ul,li{list-style: none;margin: 0;padding: 0;}
h1,h2,h3,h4,h5,h6{margin: 0;padding: 0;}
/*article{text-indent:2em;}*/
.mui-bar .mui-title{left:70px;right:70px;}
.mui-bar-tab .mui-tab-item.mui-active{color: #ee4d4d;}
.hover1:active{background-color: #F9F9F9;}
.position-r{position: relative;border: 2px solid #333;
padding: 2px;}
/*5等分栅格*/
.mui-col-xs-1-5{width: 20%;}

/*文本样式*/
.tac{text-align: center;}/*文本居中*/
.tar{text-align: left;}/*文本居右*/

/*边框*/
.bn{border: none;}/*无边框*/
.bd-green{border:1px solid #6A961E}
.ball{border: 1px solid #efefef;}/*全部边框*/
.bt{border-top: 1px solid #efefef;}/*上边框*/
.bl{border-left: 1px solid #efefef;}/*左边框*/
.br{border-right: 1px solid #efefef;}/*右边框*/
.bb{border-bottom: 1px solid #efefef;}/*下边框*/
.blr{border-left: 1px solid #efefef;border-right: 1px solid #efefef;}/*左右边框*/
.bbr{border-bottom: 1px solid #efefef;border-right: 1px solid #efefef;}/*下右边框*/
.btb{border-bottom: 1px solid #efefef;border-top: 1px solid #efefef;}
.ball-orange{border: 1px solid #ff9000;}/*橘色全部边框*/
.boder-r5{border-radius: 5px; overflow: hidden;}

/*字体大小*/
.fs-10{font-size: 10px;}
.fs-12{font-size: 12px;}/*最小字体12px*/
.fs-14{font-size: 14px;}
.fs-13{font-size: 13px;}
.fs-16{font-size: 16px;}
.fs-18{font-size: 18px;}
.fs-20{font-size: 20px;}
.fs-24{font-size: 24px;}


/*字体颜色*/
.fc-white{color: #fff;}/*白色字体*/
.fc-red{color:#ff0000}/*红色字体*/
.fc-green{color:#7FB129}/*绿色字体*/
.fc-blue1{color: #19aed1;}/*蓝色字体1*/
.fc-blue2{color: #120f79;}/*蓝色字体2*/
.fc-blue3{color: #005b88;}/*蓝色字体3*/
.fc-yellow1{color: #fea945;}/*黄色字体1*/
.fc-yellow2{color: #e87b00;}/*黄色字体2*/
.fc-orange{color: #ff9000;}/*橘色字体*/
.fc-hui1{color: #333;}/*灰色字体1*/
.fc-hui2{color: #666;}/*灰色字体2*/
.fc-hui3{color: #999;}/*灰色字体3*/
.fc-zong{color: #6d5642;}
/*背景色*/
.bg-white{background: #fff;}/*白色背景*/
.bg-blue{background: #e9fcfe;}/*蓝色背景*/
.bg-yellow{background: #fef2d5}/*黄色背景*/
.bg-green{background: #6A961E!important; color: #fff;}/*绿色背景*/
.bg-hui1{background: #f5f5f5;}/*灰色背景1*/
.bg-hui2{background: #e6e8f1;}/*灰色背景2*/
.bg-hui3{background: #f9fcf6;}/*灰色背景3*/
.bg-hui4{background: #d7d8db;}/*灰色背景4*/
.bg-hui5{background: #eeeeee;}/*灰色背景5*/
.bg-red{background:#ff4c27}/*红色色背景*/
.bg-orange{background: #ff9000;}/*橘色背景*/
.bg-black{background: #373c4b;}/*黑色背景*/
.bg-gold{background: #d4a432;}/*黑色背景*/

/*外边距*/
.m10{margin: 10px;}
.m15{margin: 15px;}
.mt-15{margin-top: 15px;}/*上外边距15px*/
.mt-5{margin-top: 5px;}/*上外边距5px*/
.mt-10{margin-top: 10px;}/*上外边距10px*/
.mt-20{margin-top: 20px;}/*上外边距10px*/
.mtb-10{margin: 10px 0;}/*上下外边距10px*/
.mr-10{margin-right: 10px;}/*右外边距10px*/
.mr-15{margin-right: 15px;}/*右外边距15px*/
.ml-10{margin-left: 10px;}/*左外边距10px*/
.ml-15{margin-left: 15px;}/*左外边距15px*/
.mr-5{margin-right: 5px;}
.mt-b10{margin-top: 10%;}/*上外边距百分之10*/

/*内边距*/
.ptblr-10{padding: 10px;}
.ptblr-15{padding: 15px;}
.ptb-10{padding: 10px 0;}/*上下内边距10px*/
.ptb-5{padding: 5px 0;}/*上下内边距5px*/
.pd-all-1-4{padding:1px 4px;}/*上下内边距1px，左右内边距4px*/
.pd-all-3-5{padding:3px 5px;}
.pt-10{padding-top: 10px;}
.pt-5{padding-top: 5px;}
.pb-5{padding-bottom: 5px;}
.pb-15{padding-bottom: 15px;}
.ptbl-5{padding: 5px 0 5px 10px;}/*上下内边距5px，左内边距10px*/
.pr-5{padding-right: 5px;}
.pr-10{padding-right: 10px;}
.pr-15{padding-right: 15px;}
.pr-20{padding-right: 20px;}
.pl-10{padding-left: 10px;}
.pl-20{padding-left: 20px;}
.pl-5{padding-left: 5px;}
.pb-10{padding-bottom: 10px;}

.fl{float: left;}
.fr{float: right;}
.clear{clear: both;}
.line-through{text-decoration:line-through}
.lh25{height: 25px; line-height: 25px;}
.update {font-style: normal;margin-right: 25px;}
.hidden{display: none;}
.box-shadow{box-shadow:0 0 10px rgba(0,0,0,.1);}
.m-auto{margin: 0 auto;}
/*区域宽度*/
.width-100{width: 100%;}/*宽度百分之百*/
.width-96-center-b3{width: 96%;margin: 3% auto;}/*宽度百分之96，上边距百分之3左右居中*/
.width-96-center{width: 96%;margin: 0 auto;}/*宽度百分之96，左右居中*/
.width-80{width: 80%;margin: 0 auto;}/*宽度百分之80，左右居中*/
.width-96-center-b7{width: 96%;margin: 7% auto;}/*宽度百分之96，上边距百分之7左右居中*/
.width-92-center-b7{width: 92%;margin: 7% auto;}
.width-94-center{width: 94%;margin: 0 auto;}
.width-75{width: 75%;margin: 0 auto;}
.width-50{width: 50%;margin: 0 auto;}

/*自制表格*/
.xf-list-view{ position: relative; margin-bottom: 0;padding-left: 0;list-style: none;background-color: #fff;}
.xf-list-view .xf-list-view-cell{position: relative;overflow: hidden;padding: 11px 15px;-webkit-touch-callout: none;}
.xf-list-view .xf-list-view-cell:after {position: absolute;right: 0;bottom: 0;left: 15px;height: 1px;content: '';-webkit-transform: scaleY(.5);transform: scaleY(.5);background-color: #E7E7E7;}
.xf-list-view-title{position: relative;overflow: hidden;padding: 11px 15px;-webkit-touch-callout: none;}
/*无阴影*/
.bsn{box-shadow: none;}

/*div表格样式*/
.display-table{display: table;}
.display-table-cell{display: table-cell;}
.display-inline-block{display: inline-block;}


.introduction p a{
	display: inline;
	background: none;
	color: #333;
	font-size: 16px;
	color: red;
	line-height: 0;
}
.introduction p a:hover{
	background: none;
	
}

/*活动图片百分之百充满*/
.act-img-width100 a img{width: 100%;}

/*图片百分之百充满*/
.img-width100 img{width: 100%;}
.img-width90 img{width: 90%;border: 1px solid #ededed;}

/*商品每行显示3个样式*/
.goods-list3 .mui-col-xs-4 a div.index-list-3{width: 80%;margin:0 auto;}
.goods-list3 .mui-col-xs-4 a div.index-list-3 img{width: 100%;border: 1px solid #ededed;}

/*商品每行显示2个样式*/
.goods-list2 .mui-col-xs-6 a div.index-list-2{width:88%;margin:0 auto;border: 1px solid #ededed;}
.goods-list2 .mui-col-xs-6 a div.index-list-2 img{width: 100%;border-bottom: 1px solid #ededed;}

/*字体超出一行部分变成省略号*/
.fontoverhidden{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}

/*多选框与单选框*/
.mui-checkbox input[type=checkbox]:checked:before, .mui-radio input[type=radio]:checked:before{color:#7FB129;}
.mui-radio input[type=radio]:checked:before{content: '\e442';}


.valign_middle{
	vertical-align: middle
}

@media screen and (min-width: 1200px) { 
.w1200{width: 1200px; margin: 0 auto;}
.container{padding-top: 30px;}
.navbar-brand img{margin-top:-10px;}
.navbar-nav li a{padding: 19px 15px;}
.container-video-list{margin-top: -15px;}
.container-bottom img{width: 50%; margin: 0 auto; display: block;}
.container-title-img div{font-size: 36px!important;}
.map-div{margin-top: 30px; height: 500px;}
.container-zxly .row{padding: 0 150px;}
.zxly-xqiu .left-title{width: 10%;}
.zxly-xqiu textarea{width: 80%;}
.zxly-btn button {width: 20%!important; }
.breadcrumb{margin-top:20px;}
.container-content1{padding-bottom: 40px;}
.container-content1 .container-list1-ul li {float: right;}
.container-content1 .container-list1-ul li a{margin: 0; margin-left: 20px; }
.content-next a{width: 50%;}
.pb40{padding-bottom: 40px!important;}
.container-member-head ul li a{font-size: 16px;}
.container-member-content .bg-white{min-height: 300px;}
.container-member-content  .null-page-draw{width: 20%; margin:200px auto}
.container-member-content .row.w1200{margin: 30px auto;}
.container-member-content .xf-list-view-title{padding: 30px;}
.container-member-content .text-left{width: 100px; }
.container-goods .bb1{margin: 0 40px 40px 40px; padding-bottom: 40px;}
.container-goods .bb1 .xf-list-view-title{padding: 8px 0;}
}
@media screen and (max-width: 768px) { 
.top{min-height: 50px;}
.navbar-nav{background: #F9F9F9;}
.sczx-title{padding: 15px;}
.carousel-control{top: -8%;}
.navbar-brand img{width: 130px; margin-top: 5px;}
.swiper-container2 .swiper-wrapper{margin-left: 0px; margin-top: 120px!important;}
.swiper-container3 .swiper-wrapper{margin-left: 0;}
.swiper-wrapper .ysj-img{margin-top: -100px; width: 50%;}
.container-bottom img{width: 100%; display: block;}
.container-title-img{height: 100px; line-height: 100px;}
.container-title-img img{width: 40%;}
.container-gywm .col-xs-12{padding: 15px 30px;}
.container-lxwm .about-list{width: 100%; margin: 5px; float: left;}
.map-div{margin-top: 15px; height: 360px;}
.container-zxly{background-size:auto 100%;}
.container-list1 .media-body{padding: 0 30px;}
.container-list1 .media-heading{margin: 15px 0;}
.container-list1 .container-list1-ul li a{margin-right: 10px;}
.container-list2 .media-heading{ margin-left: 20px;margin-top: 15px; padding: 0;}
.container-list2-ul{margin: 0;}
.container-list2-ul li a{display: block; width: 100%;}
.container-content1 .container-list1-ul li a{margin-top:20px;}
.container-title2-img{height: 150px;}
.col-md-3, .col-xs-6{padding-right:0px ;} 
.container-member-content .thumbnail{margin-top: 0;}
.container-member-content .row.w1200{margin-top: 15px;}
.container-goods .bb1 .xf-list-view-title{padding: 4px 15px;}
.container-goods.jumbotron{padding-bottom: 0; margin-bottom: 0;}
}